/*-----------------------------------*/
/* Widget Calendar */
/*-----------------------------------*/
.widget-calendar .inner {padding:0 12px 12px;}

/* Datepicker General Styles
---------------------------------------------------------------------*/

.ui-datepicker {display: none;}
.ui-state-disabled { cursor: default !important; }
.ui-icon { display: block; text-indent: -99999px; overflow: hidden;}
#ui-datepicker-div{background: #DCDCDC; width: 245px;}
#ui-datepicker-div .ui-datepicker-header {height:auto;}
#ui-datepicker-div .ui-datepicker-header .ui-datepicker-title:before,
#ui-datepicker-div .ui-datepicker-header .ui-datepicker-title:after {background:transparent;}
/* Datepicker Header
---------------------------------------------------------------------*/

.ui-datepicker-header {
    position:relative;
    padding:0;
    margin: 0 -12px 23px;
    background:#ec5490;
    height:60px;
    line-height:55px;
}
#ui-datepicker-div .ui-datepicker-header {
    margin: 0 0 8px;
}

.ui-datepicker-prev,
.ui-datepicker-next{
    position:absolute;
    top: 23px;
    left: 45px;
    cursor: pointer;
    width: 0;
    height: 0;
    z-index:10;
    border-top: 5px solid transparent;
    border-right: 8px solid rgba(0,0,0,.4);
    border-bottom: 5px solid transparent;
}
.ui-datepicker-next{
    left: auto;
    right: 45px;
    border-top: 5px solid transparent;
    border-right: none;
    border-left: 8px solid rgba(0,0,0,.4);
    border-bottom: 5px solid transparent;
}
#ui-datepicker-div .ui-datepicker-prev,
#ui-datepicker-div .ui-datepicker-next{
    top: 11px;
    left: 11px;
}
#ui-datepicker-div .ui-datepicker-next{
    left: auto;
    right: 11px;
}
.ui-datepicker-title {
    height: 60px;
    position:relative;
    line-height: 55px;
    font-size: 18px;
    color: #fff;
    letter-spacing: -1px;
    text-align: center;
    text-shadow:none;
    letter-spacing:0.1px;
}

.ui-datepicker-title:after {
  position:absolute;
  content:"";
  background:url(images/calendar-line.png);
  bottom:5px;
  left:5px;
  width:97%;
  height:3px;
  max-width:97%;
}

#ui-datepicker-div .ui-datepicker-title{
    height: 32px;
    line-height: 32px;
    font-size: 14px;
}

/* Datepicker Table
---------------------------------------------------------------------*/

.ui-datepicker table {width: 78%; border-collapse: collapse;margin:0 auto;}

/* MO-TU-WE-TH-FR-SA-SU */
.ui-datepicker th {
    text-align: center;
    text-shadow: none;
    padding-bottom: 8px;
    font-size: 12px;
    color: #303030;
}

/* Dates general */
.ui-datepicker td span,
.ui-datepicker td a {
    display: block;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    width:30px;
    color: #666666;
    text-align: center;
    text-shadow: none;
}
#ui-datepicker-div td span,
#ui-datepicker-div td a {
    height: 28px;
    line-height: 28px;
}


/* Date Today */
td.ui-datepicker-today a,
td.ui-datepicker-today a.ui-state-hover {
    color: #fff;
    background: #ec5490;

}

/* Date Selected */
td.ui-state-highlight a,
td.ui-datepicker-today.ui-state-highlight a,
#ui-datepicker-div td.ui-datepicker-current-day a,
#ui-datepicker-div td.ui-datepicker-current-day.ui-datepicker-today a {
    color: #575757;
    box-shadow: inset 1px 1px 0 rgba(0,0,0,0.2);
    background: rgb(224,224,224);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UwZTBlMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNGU0ZTQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(224,224,224,1) 0%, rgba(228,228,228,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(224,224,224,1)), color-stop(100%,rgba(228,228,228,1)));
    background: -webkit-linear-gradient(top,  rgba(224,224,224,1) 0%,rgba(228,228,228,1) 100%);
    background: -o-linear-gradient(top,  rgba(224,224,224,1) 0%,rgba(228,228,228,1) 100%);
    background: -ms-linear-gradient(top,  rgba(224,224,224,1) 0%,rgba(228,228,228,1) 100%);
    background: linear-gradient(to bottom,  rgba(224,224,224,1) 0%,rgba(228,228,228,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#e4e4e4',GradientType=0 );
}

/* Date on Hover */
td a.ui-state-hover {
    background: rgb(224,224,224);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UwZTBlMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNGU0ZTQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(224,224,224,1) 0%, rgba(228,228,228,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(224,224,224,1)), color-stop(100%,rgba(228,228,228,1)));
    background: -webkit-linear-gradient(top,  rgba(224,224,224,1) 0%,rgba(228,228,228,1) 100%);
    background: -o-linear-gradient(top,  rgba(224,224,224,1) 0%,rgba(228,228,228,1) 100%);
    background: -ms-linear-gradient(top,  rgba(224,224,224,1) 0%,rgba(228,228,228,1) 100%);
    background: linear-gradient(to bottom,  rgba(224,224,224,1) 0%,rgba(228,228,228,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#e4e4e4',GradientType=0 );
}

/* Date from the Other Month */
td.ui-datepicker-other-month span{color: #bcbcbc;}

/*-----------------------------------*/
/* Widget Calendar style 2 */
/*-----------------------------------*/

.widget-calendar.styled .ui-datepicker-header {margin-bottom: 10px;}

.widget-calendar.styled .ui-datepicker-title {
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    color: #f8ffe5;
    letter-spacing: 0;
    text-shadow: 0 1px 1px #90b32c;
}
.widget-calendar.styled .ui-datepicker-title:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -4px;
    border-bottom: 1px dotted #a8a8a8;
}
.widget-calendar.styled .ui-datepicker-prev,
.widget-calendar.styled .ui-datepicker-next{
    top: 13px;
    left: 18px;
    border-top: 4px solid transparent;
    border-right: 5px solid #567913;
    border-bottom: 4px solid transparent;
}
.widget-calendar.styled .ui-datepicker-next{
    left: auto;
    right: 18px;
    border-top: 4px solid transparent;
    border-right: none;
    border-left: 5px solid #567913;
    border-bottom: 4px solid transparent;
}
.widget-calendar.styled .ui-datepicker th {
    padding-bottom: 5px;
    font-size: 10px;
    color: #909090;
}
.widget-calendar.styled .ui-datepicker td span,
.widget-calendar.styled .ui-datepicker td a {
    height: 28px;
    font-size: 12px;
    line-height: 28px;
    color: #909090;
}
.widget-calendar.styled td.ui-datepicker-today a,
.widget-calendar.styled td.ui-datepicker-today a.ui-state-hover {
    color: #fff;
}
.widget-calendar.styled td.ui-state-highlight a,
.widget-calendar.styled td.ui-datepicker-today.ui-state-highlight a {
    color: #909090;
}

.stripes:before {
  position: absolute;
  content: "";
  bottom: -8px;
  border-top: 2px solid #fcfcfc;
  border-bottom: 2px solid #fcfcfc;
  width: 100%;
  height: 6px;
  background:transparent;}

.stripes:after {
  position: absolute;
  content: "";
  bottom: -16px;
  border-top: 2px solid #fcfcfc;
  border-bottom: 2px solid #fcfcfc;
  width: 100%;
  height: 6px;
  background:transparent;}