/*-------------------------------------------*/
/* Notifications */
/*-------------------------------------------*/

.note {
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    top: -8px;
    right: -20px;
    z-index: 2;
    text-align: center;
    font-size: 13px;
    line-height: 24px;
    color: #fff;
    border-radius: 50%;
    background:#ee5190;
}