/*-----------------------------------*/
/* Avatar Placeholder */
/*-----------------------------------*/

.widget-profile {margin-bottom: 30px;}
.widget-profile .inner {padding: 24px 25px 24px 21px;}

.widget-profile .avatar {
    width: 98px;
    height: 98px;
    margin-right: 20px;
    float: left;
}
.widget-profile .avatar img {
  display: block;
    width: 100%;
    height: 100%;
}
.widget-profile h5 {
  font-size: 24px;
  color: #000000;
  text-shadow: none;
  margin-bottom:1px;
  font-weight:bold
}
.widget-profile .subtitle {
  display: block;
  margin-bottom: 24px;
    font-size: 14px;
    color: #999;
}
.widget-profile .followers {
    display: inline-block;
    font-size: 9px;
  color: #c7c7c7;
    vertical-align: middle;
    margin-left: 8px;
    margin-top:2px;
}
.widget-profile .followers strong {display: block; font-size: 14px; color: #ee5190;text-align: right;}
.widget-profile .followers span {display: block;font-size:11px;color:#848484;}
