/*-----------------------------------*/
/* Variables */
/*-----------------------------------*/


/* Custom Font */
@import url(http://fonts.googleapis.com/css?family=Cabin:400,500,600,700,400italic,500italic,600italic,700italic);
@font-family: 'Cabin', serif;
@font-size: 14px;
@font-color: #605647;

/* Headers Color (h1 - h6) */
@header-color: #000;

/* Link Color */
@link-color: #191919;

/* Hovered Link Color */
@link-color-hover: #ec5591;

/* Text Color for Inputs, Selects, TextAreas */
@input-color: #362c27;
