/*-----------------------------------*/
/* Font Icons */
/*-----------------------------------*/


  @font-face {
    font-family: 'fashion';
    src:url('fonts/icons-small/fashion.eot');
    src:url('fonts/icons-small/fashion.eot?#iefix') format('embedded-opentype'),
    url('fonts/icons-small/fashion.svg#fashion') format('svg'),
    url('fonts/icons-small/fashion.woff') format('woff'),
    url('fonts/icons-small/fashion.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  [class^="icon-small-"], [class*=" icon-small-"] {
    font-family: 'fashion';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -15%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .icon-small-info:before {content: "\e769";}
  .icon-small-list:before {content: "\e76a";}
  .icon-small-prev:before {content: "\e76b";}
  .icon-small-pinterest:before {content: "\e76c";}
  .icon-small-facebook:before {content: "\e76d";}
  .icon-small-twitter:before {content: "\e76e";}
  .icon-small-delete:before {content: "\e76f";}
  .icon-small-send:before {content: "\e770";}
  .icon-small-comment-alt:before {content: "\e771";}
  .icon-small-twitter-alt:before {content: "\e772";}
  .icon-small-facebook-alt:before {content: "\e773";}
  .icon-small-comment:before {content: "\e77f";}
  .icon-small-like:before {content: "\e775";}
  .icon-small-refresh:before {content: "\e776";}
  .icon-small-cam:before {content: "\e777";}
  .icon-small-next:before {content: "\e778";}
  .icon-small-book:before {content: "\e779";}
  .icon-small-author:before {content: "\e77a";}
  .icon-small-google:before {content: "\e77b";}
  .icon-small-clock:before {content: "\e77c";}
  .icon-small-star:before {content: "\e77d";}
  .icon-small-pen:before {content: "\e77e";}
  .icon-small-eye:before {content: "\e780";}
  .icon-small-up:before {content: "\e600";}
  .icon-small-list:before {content: "\e601";}
  .icon-small-shuffle:before {content: "\e602";}
  .icon-small-repeat:before {content: "\e603";}
  .icon-small-note:before {content: "\e604";}
  .icon-small-fullscreen:before {content: "\e605";}
  .icon-small-mute:before {content: "\e606";}
  .icon-small-pause:before {content: "\e607";}
  .icon-small-play:before {content: "\e608";}
  .icon-small-down:before {content: "\e609";}
  .icon-small-backward:before {content: "\e60a";}
  .icon-small-unmute:before {content: "\e60b";}
  .icon-small-forward:before {content: "\e60c";}