/*-----------------------------------*/
/* Variables */
/*-----------------------------------*/


/* Custom Fonts */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,700,600,300);
@import url(http://fonts.googleapis.com/css?family=Allerta);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@font-family-open-sans: 'Open Sans', sans-serif;
@font-family-allerta: 'Allerta', sans-serif;
@font-family-montserrat: 'Montserrat', sans-serif;
@font-size: 14px;
@font-color: #3f3a46;

/* Headers Color (h1 - h6) */
@header-color-main: #644370;
@header-color: #985965;

/* Link Color */
@link-color: #1c588f;
@link-color-hover: #bf5d90;

/* Inputs, Selects, TextAreas */
@input-font-size: 18px;
@input-color: #7380b0;

/* Content Boxes */
@boxed: #fff;
@boxed-transparent: rgba(255,255,255,0.1);
@box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);

/* Default Button */
@button-font-size: 16px;
@button-text-color: #fff;
@button-text-color-hover: #53529b;
@button-text-color-active: #d4e729;
@button-bg-color: #7978b4;
@button-bg-color-hover: #7978b4;
@button-bg-color-active: #7978b4;

/* Green Button */
@button-green-text-color: #fff;
@button-green-text-color-hover: #fff;
@button-green-text-color-active: #d4e729;
@button-green-bg-color: #b8c901;
@button-green-bg-color-hover: #b8c901;
@button-green-bg-color-active: #989f01;

/* Red Button */
@button-red-text-color: #fff;
@button-red-text-color-hover: #8f436a;
@button-red-text-color-active: #d4e729;
@button-red-bg-color: #bf5d90;
@button-red-bg-color-hover: #bf5d90;
@button-red-bg-color-active: #bf5d90;

/* Transparent Button */
@button-transparent-text-color: #fff;
@button-transparent-text-color-hover: #fff;
@button-transparent-text-color-active: #b8c901;
@button-transparent-bg-color: rgba(255, 241, 244, 0.24);
@button-transparent-bg-color-hover: rgba(255, 241, 244, 0.24);
@button-transparent-bg-color-active: rgba(255, 241, 244, 0.24);