/* @group Base */
.chzn-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
    border:none;
    border-top:1px solid #b2b2b2;
    background: #ededed;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding:0;
    *padding:0;
    font-size:17px;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    box-shadow: none;
}
.chzn-container .chzn-drop {
  position: absolute;
  top: 100%;
  left: -9999px;
  z-index: 1010;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.4);
    background: #E5E5E5;
    background: linear-gradient(top, #e5e5e5, #ececec);
    background: -webkit-linear-gradient(top, #E5E5E5, #ECECEC);
    background: -moz-linear-gradient(top, #e5e5e5, #ececec);
    background: -ms-linear-gradient(top, #e5e5e5, #ececec);
    overflow: hidden;
}
.chzn-container.chzn-with-drop .chzn-drop {
  left: 0;
}

/* @end */
/* @group Single Chosen */
.chzn-container-single .chzn-single {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 0 0 0 8px;
  height: 23px;
  border: 1px solid #aaa;
  border-radius: 5px;
  background-color: #fff;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #ffffff), color-stop(50%, #f6f6f6), color-stop(52%, #eeeeee), color-stop(100%, #f4f4f4));
  background: -webkit-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background: -moz-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background: -o-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background: linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background-clip: padding-box;
  box-shadow: 0 0 3px white inset, 0 1px 1px rgba(0, 0, 0, 0.1);
  color: #444;
  text-decoration: none;
  white-space: nowrap;
  line-height: 24px;
}
.chzn-container-single .chzn-default {
  color: #999;
}
.chzn-container-single .chzn-single span {
  display: block;
  overflow: hidden;
  margin-right: 26px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.chzn-container-single .chzn-single-with-deselect span {
  margin-right: 38px;
}
.chzn-container-single .chzn-single abbr {
  position: absolute;
  top: 6px;
  right: 26px;
  display: block;
  width: 12px;
  height: 12px;
  background: url('../images/chosen.png') -42px 1px no-repeat;
  font-size: 1px;
}
.chzn-container-single .chzn-single abbr:hover {
  background-position: -42px -10px;
}
.chzn-container-single.chzn-disabled .chzn-single abbr:hover {
  background-position: -42px -10px;
}
.chzn-container-single .chzn-single div {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 18px;
  height: 100%;
}
.chzn-container-single .chzn-single div b {
  display: block;
  width: 100%;
  height: 100%;
  background: url('../images/chosen.png') no-repeat 0px 2px;
}
.chzn-container-single .chzn-search {
  position: relative;
  z-index: 1010;
  margin: 0;
  padding: 3px 4px;
  white-space: nowrap;
}
.chzn-container-single .chzn-search input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1px 0;
  padding: 4px 20px 4px 5px;
  width: 100%;
  outline: 0;
  border: 1px solid #aaa;
  background: white url('../images/chosen.png') no-repeat 100% -20px;
  background: url('../images/chosen.png') no-repeat 100% -20px, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
  background: url('../images/chosen.png') no-repeat 100% -20px, -webkit-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background: url('../images/chosen.png') no-repeat 100% -20px, -moz-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background: url('../images/chosen.png') no-repeat 100% -20px, -o-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background: url('../images/chosen.png') no-repeat 100% -20px, linear-gradient(#eeeeee 1%, #ffffff 15%);
  font-size: 1em;
  font-family: sans-serif;
}
.chzn-container-single .chzn-drop {
  margin-top: -1px;
  border-radius: 0 0 4px 4px;
  background-clip: padding-box;
}
.chzn-container-single.chzn-container-single-nosearch .chzn-search {
  position: absolute;
  left: -9999px;
}

/* @end */
/* @group Results */
.chzn-container .chzn-results {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 4px 4px 0;
  padding: 0 0 0 4px;
  max-height: 281px;
  -webkit-overflow-scrolling: touch;
}
.chzn-container .chzn-results li {
  display: none;
  margin: 0;
    padding: 10px 20px;
  list-style: none;
  line-height: 15px;
    border-top:1px solid #fff;
    border-bottom:1px solid #c0c0c0;
    font-size: 14px;
}
.chzn-container .chzn-results li:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.chzn-container .chzn-results li:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.chzn-container .chzn-results li.active-result {
    position: relative;
    display: list-item;
  cursor: pointer;
    font-size: 14px;
    color: #292929;
    text-shadow: none;
    background: #F7F7F7;
    background-image: linear-gradient(bottom, rgb(247,247,247) 0%, rgb(250,250,250) 36%, rgb(237,237,237) 85%);
    background-image: -o-linear-gradient(bottom, rgb(247,247,247) 0%, rgb(250,250,250) 36%, rgb(237,237,237) 85%);
    background-image: -moz-linear-gradient(bottom, rgb(247,247,247) 0%, rgb(250,250,250) 36%, rgb(237,237,237) 85%);
    background-image: -webkit-linear-gradient(bottom, #F7F7F7 0%, #FAFAFA 36%, #EDEDED 85%);
    background-image: -ms-linear-gradient(bottom, rgb(247,247,247) 0%, rgb(250,250,250) 36%, rgb(237,237,237) 85%);
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #F7F7F7), color-stop(0.36, #FAFAFA), color-stop(0.85, #EDEDED) );
}
.chzn-container .chzn-results li.active-result:before {
    content: '';
    display: block;
    position: absolute;
    top: 14px;
    left: 9px;
    width: 4px;
    height: 7px;
    background: url(../images/menu1_bg.png) -11px -202px no-repeat;
}
.chzn-container .chzn-results li.disabled-result {
  display: list-item;
  color: #ccc;
  cursor: default;
}
.chzn-container .chzn-results li.highlighted {
    position: relative;
    color: #EA5535;
    background: #F0F0F0;
    background-image: linear-gradient(bottom, rgb(240,240,240) 0%, rgb(243,243,243) 36%, rgb(233,233,233) 85%);
    background-image: -o-linear-gradient(bottom, rgb(240,240,240) 0%, rgb(243,243,243) 36%, rgb(233,233,233) 85%);
    background-image: -moz-linear-gradient(bottom, rgb(240,240,240) 0%, rgb(243,243,243) 36%, rgb(233,233,233) 85%);
    background-image: -webkit-linear-gradient(bottom, #F0F0F0 0%, #F3F3F3 36%, #E9E9E9 85%);
    background-image: -ms-linear-gradient(bottom, rgb(240,240,240) 0%, rgb(243,243,243) 36%, rgb(233,233,233) 85%);
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #F0F0F0), color-stop(0.36, #F3F3F3), color-stop(0.85, #E9E9E9) );
}
.chzn-container .chzn-results li.highlighted:after {
    content: '';
    position: absolute;
    top: -1px;
    right: 0;
    bottom: 0;
    border: 2px solid #666;
}

.chzn-container .chzn-results li.no-results {
  display: list-item;
    font-size: 14px;
    color: #6F6F6F;
    text-shadow: none;
}
.chzn-container .chzn-results li.group-result {
  display: list-item;
  color: #999;
  cursor: default;
}
.chzn-container .chzn-results li.group-option {
  padding-left: 15px;
}
.chzn-container .chzn-results li em {
  font-style: normal;
  text-decoration: underline;
}

/* @end */
/* @group Multi Chosen */
.chzn-container-multi .chzn-choices {
  position: relative;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto !important;
  cursor: text;
    padding-right: 36px;
    background: url(../images/icons/plus.png) right 4px no-repeat;
}
.chzn-container-multi .chzn-choices li {
  float: left;
  list-style: none;
}
.chzn-container-multi .chzn-choices li.search-field {
  margin: 0;
  padding: 0 0 0 16px;
  white-space: nowrap;
}
.chzn-container-multi .chzn-choices li.search-field input {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0 none !important;
    background: transparent !important;
    filter:none;
    height: 37px;
    box-shadow: none;
    font-size: 100%;
    font-family: sans-serif;
    color: #292929;
}
.chzn-container-multi .chzn-choices li.search-field .default {
    color: #292929;
}
.chzn-container-multi .chzn-choices li.search-choice {
    position: relative;
    margin: 3px 0 3px 3px;
    padding: 0 24px 0 10px;
    border: 0 none;
    border-top: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    font-size: 14px;
    color: #9C5801;
    height: 30px;
    line-height: 30px;
    cursor: default;
    background: #ffb800;
    background: linear-gradient(top, #ffe100, #ffb800);
    background: -webkit-linear-gradient(top, #ffe100, #ffb800);
    background: -moz-linear-gradient(top, #ffe100, #ffb800);
    background: -ms-linear-gradient(top, #ffe100, #ffb800);

}
.chzn-container-multi .chzn-choices li.search-choice .search-choice-close {
  position: absolute;
  top: 9px;
  right: 3px;
  display: block;
  width: 12px;
  height: 12px;
  background: url('../images/chosen.png') -42px 1px no-repeat;
  font-size: 1px;
}
.chzn-container-multi .chzn-choices li.search-choice .search-choice-close:hover {
  background-position: -42px -10px;
}
.chzn-container-multi .chzn-choices li.search-choice-disabled {
  padding-right: 5px;
  border: 1px solid #ccc;
  background-color: #e4e4e4;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  color: #666;
}
.chzn-container-multi .chzn-choices li.search-choice-focus {
    background: #ddd;
    background: linear-gradient(top, #eee, #ddd);
    background: -webkit-linear-gradient(top, #eee, #ddd);
    background: -moz-linear-gradient(top, #eee, #ddd);
    background: -ms-linear-gradient(top, #eee, #ddd);

}
.chzn-container-multi .chzn-choices li.search-choice-focus .search-choice-close {
  background-position: -42px -10px;
}
.chzn-container-multi .chzn-results {
  margin: 0;
  padding: 0;
}
.chzn-container-multi .chzn-drop .result-selected {
  display: list-item;
  color: #bbb;
  cursor: default;

}

/* @end */
/* @group Active  */
.chzn-container-active .chzn-single {
  border: 1px solid #5897fb;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.chzn-container-active.chzn-with-drop .chzn-single {
  border: 1px solid #aaa;
  -moz-border-radius-bottomright: 0;
  border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-left-radius: 0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #eeeeee), color-stop(80%, #ffffff));
  background-image: -webkit-linear-gradient(#eeeeee 20%, #ffffff 80%);
  background-image: -moz-linear-gradient(#eeeeee 20%, #ffffff 80%);
  background-image: -o-linear-gradient(#eeeeee 20%, #ffffff 80%);
  background-image: linear-gradient(#eeeeee 20%, #ffffff 80%);
  box-shadow: 0 1px 0 #fff inset;
}
.chzn-container-active.chzn-with-drop .chzn-single div {
  border-left: none;
  background: transparent;
}
.chzn-container-active.chzn-with-drop .chzn-single div b {
  background-position: -18px 2px;
}
/*.chzn-container-active .chzn-choices {
  border: 1px solid #5897fb;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.chzn-container-active .chzn-choices li.search-field input {
  color: #111 !important;
}*/

/* @end */
/* @group Disabled Support */
.chzn-disabled {
  opacity: 0.5 !important;
  cursor: default;
}
.chzn-disabled .chzn-single {
  cursor: default;
}
.chzn-disabled .chzn-choices .search-choice .search-choice-close {
  cursor: default;
}

/* @end */
/* @group Right to Left */
.chzn-rtl {
  text-align: right;
}
.chzn-rtl .chzn-single {
  overflow: visible;
  padding: 0 8px 0 0;
}
.chzn-rtl .chzn-single span {
  margin-right: 0;
  margin-left: 26px;
  direction: rtl;
}
.chzn-rtl .chzn-single-with-deselect span {
  margin-left: 38px;
}
.chzn-rtl .chzn-single div {
  right: auto;
  left: 3px;
}
.chzn-rtl .chzn-single abbr {
  right: auto;
  left: 26px;
}
.chzn-rtl .chzn-choices li {
  float: right;
}
.chzn-rtl .chzn-choices li.search-field input {
  direction: rtl;
}
.chzn-rtl .chzn-choices li.search-choice {
  margin: 3px 5px 3px 0;
  padding: 3px 5px 3px 19px;
}
.chzn-rtl .chzn-choices li.search-choice .search-choice-close {
  right: auto;
  left: 4px;
}
.chzn-rtl.chzn-container-single-nosearch .chzn-search,
.chzn-rtl .chzn-drop {
  left: 9999px;
}
.chzn-rtl.chzn-container-single .chzn-results {
  margin: 0 0 4px 4px;
  padding: 0 4px 0 0;
}
.chzn-rtl .chzn-results li.group-option {
  padding-right: 15px;
  padding-left: 0;
}
.chzn-rtl.chzn-container-active.chzn-with-drop .chzn-single div {
  border-right: none;
}
.chzn-rtl .chzn-search input {
  padding: 4px 5px 4px 20px;
  background: white url('../images/chosen.png') no-repeat -30px -20px;
  background: url('../images/chosen.png') no-repeat -30px -20px, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
  background: url('../images/chosen.png') no-repeat -30px -20px, -webkit-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background: url('../images/chosen.png') no-repeat -30px -20px, -moz-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background: url('../images/chosen.png') no-repeat -30px -20px, -o-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background: url('../images/chosen.png') no-repeat -30px -20px, linear-gradient(#eeeeee 1%, #ffffff 15%);
  direction: rtl;
}
.chzn-rtl.chzn-container-single .chzn-single div b {
  background-position: 6px 2px;
}
.chzn-rtl.chzn-container-single.chzn-with-drop .chzn-single div b {
  background-position: -12px 2px;
}
/* @end */
