/*-------------------------------------------*/
/* Notifications */
/*-------------------------------------------*/

.note {
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: -8px;
  right: -20px;
  z-index: 2;
  text-align: center;
  font-size: 10px;
  line-height: 14px;
  color: #fff;
  text-shadow: 1px 1px 1px #5c721d;
  border: 1px solid #8da549;
  border-radius: 50%;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  background: rgb(199,222,121);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M3ZGU3OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4N2FlMmQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(199,222,121,1) 0%, rgba(135,174,45,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(199,222,121,1)), color-stop(100%,rgba(135,174,45,1)));
  background: -webkit-linear-gradient(top,  rgba(199,222,121,1) 0%,rgba(135,174,45,1) 100%);
  background: -o-linear-gradient(top,  rgba(199,222,121,1) 0%,rgba(135,174,45,1) 100%);
  background: -ms-linear-gradient(top,  rgba(199,222,121,1) 0%,rgba(135,174,45,1) 100%);
  background: linear-gradient(to bottom,  rgba(199,222,121,1) 0%,rgba(135,174,45,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7de79', endColorstr='#87ae2d',GradientType=0 );
}
.note-red {
  text-shadow: 1px 1px 1px #cf2f1d;
  border: 1px solid #e76d5f;
  background: rgb(250,169,4);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZhYTkwNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMDYyMWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(250,169,4,1) 0%, rgba(240,98,28,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(250,169,4,1)), color-stop(100%,rgba(240,98,28,1)));
  background: -webkit-linear-gradient(top,  rgba(250,169,4,1) 0%,rgba(240,98,28,1) 100%);
  background: -o-linear-gradient(top,  rgba(250,169,4,1) 0%,rgba(240,98,28,1) 100%);
  background: -ms-linear-gradient(top,  rgba(250,169,4,1) 0%,rgba(240,98,28,1) 100%);
  background: linear-gradient(to bottom,  rgba(250,169,4,1) 0%,rgba(240,98,28,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faa904', endColorstr='#f0621c',GradientType=0 );
}