/*-----------------------------------*/
/* Sliders */
/*-----------------------------------*/

/*-----------------------------------*/
/* Image Slider Widget */
/*-----------------------------------*/

.widget-gallery {margin-bottom: 50px;}
.widget-gallery .inner {padding: 8px;}

.widget-gallery .carousel-inner {
  height: 210px;
  .border-radius(@border-radius);
}
.widget-gallery .carousel-inner > .item {
  height: 100%;
  overflow:hidden;
}
.widget-gallery .carousel-inner > .item > img,
.widget-gallery .carousel-inner > .item > a > img {
  width: auto;
  max-width: none;
}
.widget-gallery .carousel-desc {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  .border-radius-bottom(@border-radius - 1);
  padding: 8px;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc1NzU3NSIgc3RvcC1vcGFjaXR5PSIwLjciLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI1MjUyNSIgc3RvcC1vcGFjaXR5PSIwLjciLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  background: -moz-linear-gradient(top,  rgba(117,117,117,0.7) 0%, rgba(37,37,37,0.7) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(117,117,117,0.7)), color-stop(100%,rgba(37,37,37,0.7)));
  background: -webkit-linear-gradient(top,  rgba(117,117,117,0.7) 0%,rgba(37,37,37,0.7) 100%);
  background: -o-linear-gradient(top,  rgba(117,117,117,0.7) 0%,rgba(37,37,37,0.7) 100%);
  background: -ms-linear-gradient(top,  rgba(117,117,117,0.7) 0%,rgba(37,37,37,0.7) 100%);
  background: linear-gradient(to bottom,  rgba(117,117,117,0.7) 0%,rgba(37,37,37,0.7) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3757575', endColorstr='#b3252525',GradientType=0 );
}
.widget-gallery .carousel-desc strong,
.widget-gallery .carousel-desc span {
  display: block;
  text-shadow: 0 1px 1px rgba(0,0,0,0.5);
  font-size: @font-size * 1.29;
  color: #fff;
}
.widget-gallery .carousel-desc span {
  font-size: @font-size * 0.8;
  color: #edec92;
  font-style: italic;
}
.widget-gallery .carousel-control {
  position: absolute;
  top: 50%;
  left: 0;
  width: 18px;
  height: 53px;
  margin-top: -27px;
  border: none;
  border-radius: 0;
  opacity: 1;
}
.widget-gallery .carousel-control.left,
.widget-gallery .carousel-control.right {
  background-image:url(images/bs-carousel-arrows.png);
  background-position: -20px 0;
  background-color: transparent;
  background-repeat: no-repeat;
  filter: none;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  .widget-gallery .carousel-control.left,
  .widget-gallery .carousel-control.right {
    background-image:url(images/bs-carousel-arrows-x2.png);
    background-size: 38px auto;
  }
}
.widget-gallery .carousel-control.right {
  right: 0;
  left: auto;
  background-position: 0 0;
}
.widget-gallery .carousel-indicators {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -36px;
  width: auto;
  padding: 0;
  margin: 0;
}
.widget-gallery .carousel-indicators li {
  width: 12px;
  height: 12px;
  margin: 0;
  text-indent: -9999px;
  cursor: pointer;
  border: 1px solid #d6d5d0;
  border-radius: 50%;
  background: #f0f0ee;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}
.widget-gallery .carousel-indicators .active {
  width: 12px;
  height: 12px;
  margin: 0;
  border: 1px solid #9dae6f;
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.26);
  box-shadow: 0 2px 4px rgba(0,0,0,0.26);
  background: rgb(183,214,94);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2I3ZDY1ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3ZGFkMjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(183,214,94,1) 0%, rgba(125,173,32,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(183,214,94,1)), color-stop(100%,rgba(125,173,32,1)));
  background: -webkit-linear-gradient(top,  rgba(183,214,94,1) 0%,rgba(125,173,32,1) 100%);
  background: -o-linear-gradient(top,  rgba(183,214,94,1) 0%,rgba(125,173,32,1) 100%);
  background: -ms-linear-gradient(top,  rgba(183,214,94,1) 0%,rgba(125,173,32,1) 100%);
  background: linear-gradient(to bottom,  rgba(183,214,94,1) 0%,rgba(125,173,32,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7d65e', endColorstr='#7dad20',GradientType=0 );
}