/*
Kit Name: Funky Tunes
Kit URI: http://pixelkit.com/kits/music-ui-kit/
Description: 100+ elements
Version: 1.0
Author: PixelKit
Author URI: http://pixelkit.com
*/

/* Bootstrap */
@import "less/bootstrap/bootstrap.less";

/* Variables */
@import "less/variables.less";

/* Mixins */
@import "less/mixins.less";

/* Reset */
@import "less/reset.less";

/* prettyPhoto LightBox */
@import "less/prettyPhoto.less";

/* Icons */
@import "less/icons.less";

/* General Styles */
@import "less/general.less";

/* General Typography */
@import "less/typography.less";

/* Components */
@import "less/buttons.less";
@import "less/rating.less";
@import "less/pricing.less";
@import "less/posts.less";
@import "less/tabs.less";
@import "less/navigation.less";
@import "less/slicknav.less";
@import "less/scroll-bars.less";
@import "less/stats.less";
@import "less/charts.less";
@import "less/schedule.less";
@import "less/profile.less";
@import "less/jplayer.less";
@import "less/video-js.less";