/*-----------------------------------*/
/* Badges */
/*-----------------------------------*/

.badge:empty {display: inline-block;}

.badge{
  position: relative;
  width:59px;
  height:59px;
  background-image:url(images/badge.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  padding: 0;
  background-color: transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  top:0;
  right:0;
}
.badge.badge-large{
  width:76px;
  height:75px;
  background-image:url(images/badge-large.png);
}