/*-----------------------------------*/
/* Filters */
/*-----------------------------------*/

/*-----------------------------------*/
/* Checkbox Filter, Radiobox Filter */
/*-----------------------------------*/

.widget_checkbox_filter .inner{padding:33px 31px 25px 33px;}
.widget_radio_filter .inner{padding: 32px 33px 25px;}

.widget_checkbox_filter label,
.widget_adv_filter label {
  font-size: @font-size + 2;
}
.widget_checkbox_filter label:hover,
.widget_adv_filter label:hover{color: #e55f3b;}

.widget_checkbox_filter .counter{
  display: block;
  float: right;
}
.widget_checkbox_filter .rowSubmit,
.widget_radio_filter .rowSubmit,
.widget_adv_filter .rowSubmit{
  text-align: center;
}
.widget_checkbox_filter .divider{margin: 11px 0 20px;}
.widget_radio_filter .divider{margin: 13px 0 20px;}

/*-----------------------------------*/
/* Filter Results */
/*-----------------------------------*/

.widget_adv_filter .inner{padding: 35px 33px 25px;}
.widget_adv_filter .divider{margin: 24px 0 23px 0;}

.widget_adv_filter .input_date{
  position: relative;
  margin-right: 0;
  margin-bottom: 16px;
  float: none;
  width: auto;
}
.widget_adv_filter .input_date input{
  font-size: @font-size + 2;
  font-style: italic;
  color: @font-color;
}
.widget_adv_filter .input_date .input_icon{
  background:url(images/icons/calendar.png) no-repeat;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 8px;
}

.widget_adv_filter h6{
  text-transform: uppercase;
  margin: 0 0 22px;
  color: @brown;
  font-weight: 700;
}