/*-------------------------------------------*/
/* Notifications */
/*-------------------------------------------*/

.note {
  display: block;
  width: 13px;
  height: 13px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 15px;
  right: 12px;
  z-index: 9999;
  text-align: center;
  font-size: 9px;
  font-weight: 700;
  line-height: 13px;
  color: #fff;
  background: #e55e3a;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}