/*-----------------------------------*/
/* Sliders */
/*-----------------------------------*/

/*-----------------------------------*/
/* Image Slider */
/*-----------------------------------*/

.widget_gallery .carousel-inner {
  height: 220px;
  .border-radius(@border-radius);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.widget_gallery .carousel-inner > .item{height: 200px;}
.widget_gallery .carousel-control {top: 210px;}
.widget_gallery .carousel-indicators {top: -12px;}