/*-----------------------------------*/
/* Widget Social Buttons */
/*-----------------------------------*/

.widget-social li{border-top: 1px solid #f6f0ec;}
.widget-social li:first-child{border-top: 0 none;}
.widget-social li span{display: block; text-indent: -400px;}

.widget-social a {
  display: block;
  height: 66px;
  overflow: hidden;
  background: url(images/icons/social-icons2.png) center 0 no-repeat;
}
.widget-social .social-pinterest {background-position: center -66px;}
.widget-social .social-twitter {background-position: center -132px;}
.widget-social a:active {opacity: .8;}