/*-----------------------------------*/
/* Variables */
/*-----------------------------------*/


/* Custom Font */
@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,400,600,700,800");
@font-family: 'Open Sans', sans-serif;
@font-size: 13px;
@font-color: #8e8071;

/* Link Color */
@link-color: #4A4036;

/* Hovered Link Color */
@link-color-hover: #8D8569;

/* Colors */
@white: #fff;
@blue: #6E9BB7;
@light-blue: #2BB4DC;
@red: #E7643F;
@green: #65C383;
@yellow: #EDCD6E;
@purple: #755782;
@brown: #5C5146;
@light-brown: #7B6D5E;

/* Border Radius */
@border-radius: 5px;

/* Border Radius for Buttons */
@border-radius-button: 5px;

/* Border Radius for Inputs, Selects, TextAreas */
@border-radius-input: 5px;