/************************************
 * Default Syntax Highlighter theme.
 * 
 * Interface elements.
 ************************************/

.syntaxhighlighter {
    padding: 27px !important;
    border-radius: 0 0 4px 4px;
    background-color: #f7fbff !important;
}
.example.no-item .syntaxhighlighter{border-radius: 4px;}
.callout .syntaxhighlighter {padding: 16px !important; background-color: transparent !important;}

@media(max-width:479px) {
    .syntaxhighlighter, .callout .syntaxhighlighter{padding: 10px !important;}
}

/* Highlighed line number */
.syntaxhighlighter .line.highlighted .number
{
	color: black !important;
}

/* Highlighed line */
.syntaxhighlighter .line.highlighted.alt1,
.syntaxhighlighter .line.highlighted.alt2
{
	background-color: #e0e0e0 !important;
}

/* Gutter line numbers */
.syntaxhighlighter .line .number
{
	color: #afafaf !important;
}

/* Add border to the lines */
.syntaxhighlighter .line .content
{
	border-left: 3px solid #6CE26C !important;
	color: #000 !important;
}

.syntaxhighlighter.printing .line .content 
{
	border: 0 !important;
}

.syntaxhighlighter .toolbar
{
	background-color: #fff !important;
	border-left: #d8d8d8 solid 1px !important;
	border-bottom: #d8d8d8 solid 1px !important;
}
.example.no-item .syntaxhighlighter .toolbar{border-top-right-radius: 5px;}

.callout .syntaxhighlighter .toolbar
{
    background-color: transparent !important;
    border-left: 0 none !important;
    border-bottom: 0 none !important;
}

.syntaxhighlighter .toolbar a
{
	color: #a0a0a0 !important;
}

.syntaxhighlighter .toolbar a:hover
{
	color: red !important;
}

/************************************
 * Actual syntax highlighter colors.
 ************************************/
.syntaxhighlighter .plain,
.syntaxhighlighter .plain a
{ 
	color: #000 !important;
}

.syntaxhighlighter .comments,
.syntaxhighlighter .comments a
{ 
	color: #008200 !important;
}

.syntaxhighlighter .string,
.syntaxhighlighter .string a
{
	color: #d6464d !important;
}

.syntaxhighlighter .keyword
{ 
	color: #246a9f !important;
}

.syntaxhighlighter .preprocessor 
{ 
	color: gray !important; 
}

.syntaxhighlighter .variable 
{ 
	color: #a70 !important; 
}

.syntaxhighlighter .value
{ 
	color: #090 !important; 
}

.syntaxhighlighter .functions
{ 
	color: #ff1493 !important; 
}

.syntaxhighlighter .constants
{ 
	color: #0066CC !important; 
}

.syntaxhighlighter .script
{ 
	background-color: yellow !important;
}

.syntaxhighlighter .color1,
.syntaxhighlighter .color1 a
{ 
	color: #54a3d3 !important;
}

.syntaxhighlighter .color2,
.syntaxhighlighter .color2 a
{ 
	color: #ff1493 !important; 
}

.syntaxhighlighter .color3,
.syntaxhighlighter .color3 a
{ 
	color: red !important; 
}
.syntaxhighlighter .toolbar .item.about {
    display: none !important;
}